label {
    color: rgb(46, 46, 146);
    margin: 15px;
}

#main-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px
}

#button {
    margin: 10px;
    width: 100px
}

#username {
    margin: 15px;
    width: 40vh;
}

#password {
    margin: 15px;
    width: 40vh
}